/* -------------- */
/* header styling */
/* -------------- */

.header {
  height: 80px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
}

#header-img {
  position: relative;
  height: inherit;
  top: 0;
  width: auto;
  margin: 15px;
}
/* ------------------ */
/* background styling */
/* ------------------ */

div.background {
  background-color: #335BDF;
  z-index: -1;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
}

/* ------------ */
/* form styling */
/* ------------ */

form {
  background-color: white;
  padding: 15px 25px;
  border-radius: 15px;
}

form button {
  width: -webkit-fill-available;
}

.input-field input[type=text]:not(.browser-default):focus:not([readonly])+label,
.input-field input[type=number]:not(.browser-default):focus:not([readonly])+label {
  color: #2e439b;
}

.input-field input[type=text]:not(.browser-default):focus:not([readonly]),
.input-field input[type=number]:not(.browser-default):focus:not([readonly]),
input.valid[type=text]:not(.browser-default),
input.valid[type=number]:not(.browser-default) {
  border-bottom: 1px solid #2e439b;
  box-shadow: 0 1px 0 0 #2e439b;
}

.bgc-cookie-monster, .bgc-cookie-monster:focus {
  background-color: #335BDF;
}

.bgc-cookie-monster:hover {
  background-color: #2979ff;
}

/* ------------- */
/* table styling */
/* ------------- */

table {
  background-color: white;
  border-radius: 15px;
}

th {
  text-align: center;
}

td {
  padding: 15px;
}

td.cookie, td.devoured {
  cursor: pointer;
  user-select: none;
}

td.cookie div, td.devoured div {
  pointer-events: none;
  text-align: center;
}

div.container {
  margin-top: 40px;
}

.col .row {
  margin-left: auto;
  margin-right: auto;
}

.col.s12.m6.l6 {
  margin-bottom: 20px;
}