th {
  text-align: center;
}

td {
  padding: 15px;
}

table {
  background-color: white;
  border-radius: 15px;
}

form {
  background-color: white;
  padding: 15px 25px;
  border-radius: 15px;
}

form button {
  width: -webkit-fill-available;
}

div.background {
  background-color: #335BDF;
}

div.container {
  margin-top: 40px;
}

tr.cookie {
  cursor: pointer;
}

tr.cookie div {
  pointer-events: none;
  text-align: center;
}

.col .row {
  margin-left: auto;
  margin-right: auto;
}

.col.s12.m6.l6 {
  margin-bottom: 20px;
}

.input-field input[type=text]:not(.browser-default):focus:not([readonly])+label,
.input-field input[type=number]:not(.browser-default):focus:not([readonly])+label {
  color: #2e439b;
}

.input-field input[type=text]:not(.browser-default):focus:not([readonly]),
.input-field input[type=number]:not(.browser-default):focus:not([readonly]),
input.valid[type=text]:not(.browser-default),
input.valid[type=number]:not(.browser-default) {
  border-bottom: 1px solid #2e439b;
  box-shadow: 0 1px 0 0 #2e439b;
}
